:host ::ng-deep {
    kendo-combobox,
    .k-combobox {
      border-radius: 5px;
      height: 2.2rem;
  
      & .k-dropdown-wrap {
        border-radius: 5px;
        background-color: transparent;
        background-image: none;
        &.k-state-focused {
          box-shadow: none;
        }
        &:hover {
          background-color: transparent;
        }
      }
    }
  }
  