/** const  **/
/** z index **/
$composite-nav: 3;
$header-nav: 2;
$ineer-nav: 2;

/*** RTL ***/
$direction: rtl;
$opposite-direction: ltr;

$start-direction: right;
$end-direction: left;

$font-size: larger;
$font-style: Almoni;
$font-family: Almoni;

$transform-direction: -1;
$field-height: 35px;

$module-header: 35px;
$section-header: 25px;
$header-text-margin-right: 76px;
